<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/services.css" />
</head>
<body>
    <div class="top-container">
        <h1>Lorem Ipsum Dolor</h1>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    </div>
    <div class="bottom-container">
        <div class="content-box">
            <div class="img-placeholder">
                IMG
            </div>
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur. Interdum dignissim dui mi eget faucibus elit nulla est. Sem mauris vitae sit consequat sed egestas dolor.</p>
                <button>Button</button>
            </div>
        </div>

        <div class="content-box">
            <div class="img-placeholder">
                IMG
            </div>
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur. Interdum dignissim dui mi eget faucibus elit nulla est. Sem mauris vitae sit consequat sed egestas dolor.</p>
                <button>Button</button>
            </div>
        </div>

        <div class="content-box">
            <div class="img-placeholder">
                IMG
            </div>
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur. Interdum dignissim dui mi eget faucibus elit nulla est. Sem mauris vitae sit consequat sed egestas dolor.</p>
                <button>Button</button>
            </div>
        </div>

        <div class="content-box">
            <div class="img-placeholder">
                IMG
            </div>
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur. Interdum dignissim dui mi eget faucibus elit nulla est. Sem mauris vitae sit consequat sed egestas dolor.</p>
                <button>Button</button>
            </div>
        </div>

        <div class="content-box">
            <div class="img-placeholder">
                IMG
            </div>
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet consectetur. Interdum dignissim dui mi eget faucibus elit nulla est. Sem mauris vitae sit consequat sed egestas dolor.</p>
                <button>Button</button>
            </div>
        </div>
    </div>
</body>
</html>