<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/about.css"/>
</head>
<body>
    <header>
        <div class="top-container">
            <div class="main-text">
                <h2>ABOUT US</h2>
                <p> Welcome to Prestamo Gli, your trusted partner for affordable and reliable car rentals. 
                    We offer a diverse fleet of vehicles tailored to suit every travel need, whether you're 
                    planning a road trip, a family vacation, or require a car for business. Our selection of 
                    hatchbacks, SUVs, AUVs, vans, and sedans ensures that you'll find the perfect vehicle for 
                    any occasion, all at low, competitive prices. 
                </p> 
                 <p> Our priority is to provide high-quality cars at budget-friendly rates, allowing you to 
                     travel with peace of mind. Each vehicle in our fleet is meticulously maintained to ensure 
                     safety and dependability, while our flexible rental options and dedicated customer service 
                     guarantee a hassle-free experience from start to finish.  Wherever your destination may be,
                     we're here to make your journey smooth, convenient, and affordable. </p>
            </div>
        </div>
    </header>
</body>
</html>