
<html>
<head>
    <title>Rentals</title>
</head>
<body>
    <h1>Rentals</h1>

    <!--Table Here-->
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Rental ID</th>
                    <th>Customer Name</th>
                    <th>Start Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1001</th>
                    <th>Bruno</th>
                    <th>9/24/2024</th>
                    <th>11/24/2024</th>
                    <th>Completed</th>

                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="delete-btn">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>