<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Fleet" asp-action="Fleet">Fleet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Services" asp-action="Services">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="About" asp-action="About">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Contact" asp-action="Contact">Contact Us</a>
    </li>
</ul>
