
<html>
<head>
    <title>Cars</title>
</head>
<body>
    <h1>Cars</h1>

    <!--Table Here-->
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Car</th>
                    <th>Make</th>
                    <th>Year Model</th>
                    <th>Type</th>
                    <th>License Plate</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Montero</th>
                    <th>Mitsubishi</th>
                    <th>2024</th>
                    <th>SUV</th>
                    <th>N23</th>
                    <th>Cancelled</th>

                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="delete-btn">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>