<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="~/css/admin/DashBoard.css">
</head>

<body>
    <div class="container">

        <!--Sidebar-->
        <div class="sidebar">
            <div class="logo">
                <h2>CarRentalWebsite</h2>
            </div>
            <ul>
                <li>Dashboard</a></li>
                <li>Car Owner</a></li>
                <li>Cars</a></li>
                <li>Rentals</a></li>
                <li>Customers</a></li>
                <li>Reports</a></li>
            </ul>
        </div>


        <!--Search Bar-->
        <div class="main-content">
            <div class="search-bar">
                <input type="text" placeholder="Search..." id="search-input">
                <button id="search-btn">🔍</button>
                <button><img src="calendar-icon.png" alt="Calendar"></button>
            </div>
        </div>
     </div>
</body>


</html>