body {
}
.top-container {
    background-color: #000;
    padding: 40px;
    text-align: left;
    color: #fff;
}

.main-text {
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

p {
    font-size: 18px;
    padding: 10px;
}

