* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-section {
    background-color: #808080;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.left-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-block,
.map-block {
    background-color: #d3d3d3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 300px;
}

.text-block {
    padding: 20px;
}

.map-block {
    padding: 10px;
}

.right-content {
    width: 55%;
    background-color: #d3d3d3;
    border-radius: 8px;
    position: relative;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

    .contact-form input,
    .contact-form textarea {
        padding: 20px;
        border-radius: 5px;
        width: 100%;
    }

.questions-textarea {
    resize: none;
    height: 270px;
}

    .contact-form textarea {
        resize: none;
    }

    .contact-form button {
        width: 80px;
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #e0e0e0;
        }
