.top-container {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: white;
}

.main-text {
    margin-top: 20px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.bottom-container {
    padding: 30px;
}

.product-container {
    display: flex;
    justify-content: space-between;
}

.car-icons-flex {
    display: flex;
    justify-content: left;
}

.image-placeholder {
    width: 50%;
}

.img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    width: 90%;
}

.product-container h2 {
    font-size: 1.25rem;
}

.product-container h4 {
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 5px;
}

.product-container p {
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 5px;
}

.product-container .car-icons-number {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.product-container .product-name {
    margin-bottom: 5px;
}

button.btn {
    background-color: #000;
    color: #fff;
    padding: 7px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    display: block;
}

    button.btn:hover {
        color: #fff;
    }