.top-container {
    background-image: url('/Customer/img/fleet_bg.png');
    background-size: cover;
    background-position: center;
    padding-bottom:10px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

h1 {
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-style: italic;
    text-align: center
}

.dropdown-container {
    display: flex;
    justify-content: space-evenly;
    color: pink;
}

.car-category-dropdown {
    border-radius: 25px;
    padding: 5px;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: bold;
    width: 185px;
    margin: 20px 30px;
}

.bottom-container {
    padding-left: 30px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px #808080;
    padding: 20px;
}

.button-flex {
    display: flex;
    justify-content: space-between;
}

.car-icons-flex {
    display: flex;
    justify-content: left;
    margin-left: -10px;
}

.image-placeholder {
    width: 50%;
}

.img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    width: 100%;

}

.product-container h2 {
    font-size: 2.0rem;
    margin-top: 20px;
}

.product-container .car-transmission {
    font-size: 1.25rem;
}

.product-container h4 {
    font-size: 1.25rem;
}

.product-container .p-labels {
    font-size: 1.05rem;
}

.product-container .car-icons-number {
    font-size: 1.05rem;
    padding-left: 10px;
}
.button-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-now {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none; 
    margin-left: auto;
}

    .book-now:hover {
        color: #fff;
    }