.bottom-container {
    width: 400px;
}

.product-container {
    box-shadow: 0px 0px 2px #808080;
}

.car-icons-flex {
    display: flex;
    justify-content: left;
    margin-left: -10px;
}

.image-placeholder {
  /*  width: 50%;*/
}

.img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    padding: 20px;
    width: 100%;

}

.product-container h2 {
    font-size: 2.0rem;
    margin-top: 20px;
}

.product-container .car-transmission {
    font-size: 1.25rem;
}

.product-container h4 {
    font-size: 1.25rem;
}

.product-container .p-labels {
    font-size: 1.05rem;
}

.product-container .car-icons-number {
    font-size: 1.05rem;
    padding-left: 10px;
}

.button-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.btn {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    margin-left: auto;
    display: block;
}

    button.btn:hover {
        color: #fff;
    }
