@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/Customer/css/home.css" />

<div class="container">
    <div class="header">
        <h1>Our Cars</h1>
        <h3>Check our group categories</h3>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/Customer/img/home_hatchback.png" class="card-img-top" alt="Hatchback">
                <div class="card-body text-left">
                    <h5 class="card-title">Hatchback</h5>
                    <p class="card-text">From ₱ 850 To 1,200<br>Automatic/Manual <br>Transmission</p>
                    <a href="#" class="btn btn-dark">BOOK NOW</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/Customer/img/home_pickup_trucks.png" class="card-img-top" alt="Pick-up Trucks">
                <div class="card-body text-left">
                    <h5 class="card-title">Pick-up Trucks</h5>
                    <p class="card-text">From ₱ 1,450 To 2,850<br>Manual/Automatic <br>Transmission</p>
                    <a href="#" class="btn btn-dark">BOOK NOW</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/Customer/img/home_sedan.png" class="card-img-top" alt="Sedan">
                <div class="card-body text-left">
                    <h5 class="card-title">Sedan</h5>
                    <p class="card-text">From ₱ 950 To 1,250<br>Automatic/Manual <br>Transmission</p>
                    <a href="#" class="btn btn-dark text-right">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/Customer/img/home_suv.png" class="card-img-top" alt="SUV">
                <div class="card-body text-left">
                    <h5 class="card-title">SUV</h5>
                    <p class="card-text">From ₱ 1,550 To 3,250<br>Automatic/Manual <br>Transmission</p>
                    <a href="#" class="btn btn-dark">BOOK NOW</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/Customer/img/home_van.png" class="card-img-top" alt="Van">
                <div class="card-body text-left">
                    <h5 class="card-title">Van</h5>
                    <p class="card-text">From ₱ 1,950 To 4,100<br>Manual <br>Transmission</p>
                    <a href="#" class="btn btn-dark">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
