<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/customer/index.css" />
</head>
<body>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="search-bar">
            @Html.TextBox("Where", null, new { placeholder = "WHERE", @class = "search-input where-input" })
            @Html.TextBox("From", null, new { placeholder = "FROM", @class = "search-input from-input" })
            @Html.TextBox("Until", null, new { placeholder = "UNTIL", @class = "search-input until-input" })

            <button type="submit" class="search-btn">
                <i class="fa fa-search"></i> 
            </button>
        </div>
    }

    <button type="submit" class="search-btn">
                Button
            </button>
</body>
</html>