@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<br />

<h4>Admin Side</h4>
<ul>
    <li>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
            Admin/Home/Index
        </a>
    </li>

</ul>


<br />

<h4>Customer Side</h4>
<ul>
    <li>
        <a asp-area="Customer" asp-controller="Home" asp-action="Index">
            Customer/Home/Index
        </a>
    </li>

</ul>
