@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<br />

<h4>Admin Side</h4>
<ul>
    <li>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
            Admin/Home/Index
        </a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Owner" asp-action="Owner">
            Admin/Home/Owner
        </a>
    </li>


    <li>
        <a asp-area="Admin" asp-controller="Cars" asp-action="Cars">
            Admin/Home/Cars
        </a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Rentals" asp-action="Rentals">
            Admin/Home/Cars
        </a>
    </li>

</ul>


<br />

<h4>Customer Side</h4>
<ul>
    <li>
        <a asp-area="Customer" asp-controller="Home" asp-action="Index">
    Customer/Home/Index
</a>
    </li>

</ul>
