* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*---------------- Main section here----------------*/

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: #f5f5f5;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

    .cards .card {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    }


.number {
    font-size: 35px;
    font-weight: 500;
    color: forestgreen;
}

.card-name {
    color: #808080;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: forestgreen;
}



/*---------------- Charts section here----------------*/

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0,0,0, 0.08);
    width: 100%;
}

    .chart h2 {
        margin-bottom: 5px;
        font-size: 20px;
        color: #677;
        text-align: center;
    }


/* Responsive here*/
@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }

    .main {
        left: 60px;
    }
}


@media (max-width:880px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .charts {
        grid-template-columns: 1fr;
    }

    #doughnut-chart {
        padding: 50px;
    }

    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .logo h2 {
        font-size: 20px;
    }
}
