* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-section {
    background-color: #808080;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 18px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.left-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-block {
    background-color: #d3d3d3;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.map-block {
    background-color: #d3d3d3;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 8px;
}

.right-content {
    width: 55%;
    background-color: #d3d3d3;
    padding: 25px;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .contact-form label {
        margin-top: 10px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
    }

    .contact-form textarea {
        resize: none;
        height: 100px;
    }

    .contact-form button {
        width: 80px;
        margin-top: 20px;
        padding: 5px;
        border: 2px solid black;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        float: left;
    }

        .contact-form button:hover {
            background-color: #e0e0e0;
        }

.help-icon {
    position: absolute;
    bottom: 28px;
    right: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
