
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>

    <!--Table Here-->
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1001</th>
                    <th>John Bruno Delacrocs</th>
                    <th>0987654321</th>
                    <th>John.Bruno.Delacrocs@gmail.com</th>
                    <th>Completed</th>

                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="delete-btn">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>