@model CarRentalWebsite.Areas.Customer.Models.ContactModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Customer/css/contact.css" />
</head>
<body>
    <header class="header-section">
        <h1>CONTACT US</h1>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="left-content">
                <div class="text-block">
                    <p>Lorem ipsum dolor sit amet consectetur. Penatibus sed habitasse faucibus platea aliquam fusce sapien ipsum. Venenatis neque duis massa viverra mollis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur. Penatibus sed habitasse faucibus platea aliquam fusce sapien ipsum. Venenatis neque duis massa viverra mollis.</p>
                </div>
                <div class="map-block">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13388.818778236835!2d121.029959!3d14.6999207!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b0d899095555%3A0x523cb309be95e9a6!2sQuezon%20City%20University%20-%20Main!5e0!3m2!1sen!2sph!4v1694694405154!5m2!1sen!2sph"
                            width="100%"
                            height="100%"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy">
                    </iframe>
                </div>
            </div>

            <div class="right-content">
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    <div class="contact-form">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "NAME" })

                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "EMAIL", type = "email" })

                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "PHONE NUMBER" })

                        @Html.TextAreaFor(model => model.Questions, new { @class = "form-control questions-textarea", placeholder = "QUESTIONS", rows = "4" })

                        <button type="submit" class="btn">SEND</button>
                    </div>
                }
            </div>
        </div>
    </main>
</body>
</html>