@model CarRentalWebsite.Areas.Customer.Models.Contact

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Customer/css/contact.css" />

</head>
<body>
    <header class="header-section">
            <h1>CONTACT US</h1>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="left-content">
                <div class="text-block">
                    <p>Lorem ipsum dolor sit amet consectetur. Penatibus sed habitasse faucibus platea aliquam fusce sapien ipsum. Venenatis neque duis massa viverra mollis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur. Penatibus sed habitasse faucibus platea aliquam fusce sapien ipsum. Venenatis neque duis massa viverra mollis.</p>
                </div>
                <div class="map-block">
                    <p>MAP</p>
                </div>
            </div>

            <div class="right-content">
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    <div class="contact-form">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "NAME" })

                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "EMAIL", type = "email" })

                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "PHONE NUMBER" })

                        @Html.TextAreaFor(model => model.Questions, new { @class = "form-control", placeholder = "QUESTIONS", rows = "4" })

                        <button type="submit" class="btn">SEND</button>
                    </div>
                }
            </div>
        </div>
    </main>

</body>
</html>